<div class="main-bg">
<img src="./assets/images/pattern-background-desktop.svg" style="float: top; width: 100%; z-index: 1" />
  <div class="container">
      <ul style="list-style: none;">
          <li class="">
              <img src="./assets/images/illustration-hero.svg" id="main-img">
          </li>
          <li class="items">

              <div><h2>Order Summary</h2></div>
          </li>
          <li class="items" style="padding-top: unset; text-align: center"><p>You can now listen to millions of songs, audiobooks, and podcasts on any
              device anywhere you like!</p></li>
          <li class="items">
              <div>
                  <img src="./assets/images/icon-music.svg">
              </div>
              <div style="justify-content: center; padding-left: 5%; padding-right: 5% ">
                  <ul>
                      <li>Annual Plan</li>
                      <li>$59.99/ year</li>
                  </ul>
                  </div>
              <div> <a href="">Change</a></div>
          </li>
      </ul>

  </div>
</div>
